body {
    font-family: Arial, sans-serif;
    background-color: #444444;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #444444;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    word-break: break-all;
    overflow-x: reverse;
    flex-wrap: wrap
}

h1 {
    color: #aaa;
}

ul li {
    background-color: #555;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #666;
    word-break: break-all;
}

form {
    margin-top: 20px;
    background-color: #444;
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #666;
    background-color: #555;
    color: white;
}

form button {
    padding: 10px;
    background-color: #8B0A0A; /* Red */
    color: white;
    border: none;
    cursor: pointer;
}

#messages {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    background-color: #444;
    scrollbar-width: 10px;
    scrollbar-color: #aa1111 #888;
}

pre {
    word-break: break-all;
    white-space: pre-wrap; /* или white-space: normal; */
    background-color: #555;
    color: white;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #8B0A0A; /* Red */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #A70000; /* Darker red */
}

.button:active {
    background-color: #8B0A0A; /* Red */
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(139, 10, 10, 0.5); /* Red glow */
}

.chats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    /* margin-bottom: 10px; */
    background-color: #444;
}

.chats a {
    margin-bottom: 10px; /* Добавляет отступ между ссылками */
    color: white;
}

.chats a:not(:last-child) {
    margin-bottom: 10px; /* Добавляет отступ только между ссылками, избегая последней */
}

footer {
  background-color: #333;
  position: fixed;
   right: 0;
   bottom: 0;
   text-align: center;
   font-size: 19px;
   font-weight: bold;
   color: white;
   padding: 20px;
}
p {
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
  /* Styles for mobile devices */
  body { font-size: 18px; }
  header { padding: 5px 0; }
  nav a { margin: 0 5px; }
  main { padding: 10px; }
  ul { flex-wrap: wrap; }
  ul li { margin-bottom: 5px; }
  form { margin-top: 10px; }
  form input, form textarea, form button { width: 100%; margin-bottom: 5px; }
  #messages { max-height: 200px; }
 .button { padding: 5px 10px; font-size: 14px; }
 .chats { flex-direction: column; align-content: center; }
  footer { width: 95%; font-size: 16px; }
}

@media only screen and (max-width: 480px) {
  /* Styles for smaller mobile devices */
  body { font-size: 16px; }
  header { padding: 2px 0; }
  nav a { margin: 0 2px; }
  main { padding: 5px; }
  ul { flex-wrap: wrap; }
  ul li { margin-bottom: 2px; }
  form { margin-top: 5px; }
  form input, form textarea, form button { width: 100%; margin-bottom: 2px; }
  #messages { max-height: 150px; }
  .button { padding: 2px; }
}

.div1 {
    display: inline;
}

.pon {
    white-space: pre-wrap;
    color: #999;
    background-color: #222222;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    padding-left: 20px;
    line-height: 2;
}

.pon p {
    margin: 0px;
}

main {
    min-height: 100%
}

.art {
    border-radius: 10px;
    border-bottom-right-radius: 50px;
    background-color: #333333;
    margin-bottom: 10px;
}

.comm {
    background-color: #333333;
}

#messages::-webkit-scrollbar {
  width: 10px;
  background-color: #888;
  border-radius: 5px;
}

#messages::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aa1111;
  height: 10px;
}

#messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #888;
}

.part {
    position: relative;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.part a{
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
   color: #aa1111;
}

.part img{
    margin-right: 10px;
}

.part p{
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
   color: #aa1111;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #888;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aa1111;
  height: 10px;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #888;
}

html::-moz-scrollbar {
  width: 10px;
  background-color: #888;
  border-radius: 5px;
}

html::-moz-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aa1111;
  height: 10px;
}

html::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #888;
}

#messages::-moz-scrollbar {
  width: 10px;
  background-color: #888;
  border-radius: 5px;
}

#messages::-moz-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aa1111;
  height: 10px;
}

#messages::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #888;
}

html {
    scrollbar-width: 10px;
    scrollbar-color: #aa1111 #888;
}